

div.header{
		background-image:url(http://media.uslegal.com/images/main_header_search_glass-uslegal.jpg);
		height:72px;	
	}
	div.hometext{
		width:350px;
	}
	div.headerhomepage{
		width:591px;
		border-left:none;
	}

.headerhomepage a {
	font-family:verdana, Helvetica, sans-serif;
	font-size: 1.1em !important;
	line-height:1.4em;
	font-weight:normal;
	color: blue;	
 }

.headerhomepage p{
	font-family:verdana, Helvetica, sans-serif;
	font-size: 1em;
	line-height:1.4em;
	color: #111;
 }

.headerhomepage ul {
	list-style:square;
	color: #111;
} 
.headerhomepage li, .headerhomepage li a{
	font-family:verdana, Helvetica, sans-serif;
	font-size: 1em;
	line-height:1.4em;
 }
 a:hover.hover {
	border:1px solid #550e00;
}


.uslegal_searchbox {
	display: block;
	width: 760px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 50px;
}
.uslegal_searchbox form {
	margin: 0;
	padding: 0;
}
.uslegalsearchquerybox {
	width: 300px;
	margin-right: 10px;
}

.searchboxheaderbar {
	display: block;
	padding-bottom: 5px;
}
.searchboxheaderbar a {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
}
.searchboxheaderbar span {
	display: inline;
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	background-color:#DFD2BE;
	border-bottom: 1px solid #440E0E;
}

.searchresult {
	font-family:verdana, Helvetica, sans-serif;
	font-size: 2em !important;
	line-height:1.4em;
}

.searchresult .even {
	 background-color:#eee;
	 font-size: 1.9em;
	 margin:5px 0 5px 0; 
	 border-top:1px solid #ccc;
	 border-bottom:1px solid #ccc;
	
	
}
div.searchresult div p a { 
	font-size:1.3em !important;
}
.searchresult  a:visited{ 	
	  color: #800040;
	  } 	
	  
	
 .searchresult span {
 	color:green;
   
 }
 
 .pagination {
 	color:green;
	text-align:left;
	padding-left:15px;
   
 }
 .pagination a:link, .pagination a:active { 	
	  color: #800040;
	  } 	


/*intial setup*/
#uslegal_searchbox_uslegalforms  { display: none; }
#uslegal_searchbox_uslegal 		{ display: block; }
#uslegal_searchbox_legalweb 	{ display: none; }

