 a:hover.hover {
	border:1px solid #550e00;
}
.uslegal_searchbox {
	display: block;
	
	margin: 5px auto;
	padding: 3px 10px 10px 10px;
	height: 80px;
	background:url(http://media.uslegal.com/images/header_bg.gif) repeat-x #fff;
	border:1px solid #ccc;
}
.uslegal_searchbox form {
	margin: 0;
	padding: 0;
}
.uslegalsearchquerybox {
	width: 300px;
	margin-right: 10px;
}
.searchboxheaderbar {
	display: block;
	padding-bottom: 5px;
}
.searchboxheaderbar a {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
}
.searchboxheaderbar span {
	display: inline;
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	background-color:#eee;
	border: 1px solid #ccc;
	line-height:1.5em;
}
.searchresult {
	font-family:verdana, Helvetica, sans-serif;
	line-height:1.4em;
}
.searchresult div {
	padding:7px 7px 0 7px;
}
.searchresult .even {
	background-color:#eee;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-left:none;
	padding:7px 7px 0 7px;
	width:566px;
}
div.searchresult div p a { 
	font-size:14px !important;	
}
div.searchresult div p a b {
	text-decoration:underline;
} 
.searchresult  a:visited{
	color: #800040;
} 	
.searchresult div p span{
 	color:green;
}
 
 .pagination {
 	color:green;
	text-align:left;
	padding-left:15px;
   
 }
 .pagination a:link, .pagination a:active { 	
	  color: #800040;
	  } 	


/*intial setup*/
#uslegal_searchbox_uslegalforms  { display: none; }
#uslegal_searchbox_uslegal 		{ display: block; }
#uslegal_searchbox_legalweb 	{ display: none; }

